{% extends 'base.html' %}

{% block sub_content %}
<div class="text-center">
    <h1>Авторизация пользователя</h1>
</div>

<form method="POST">
  <div class="mb-3">
    <label for="user_name" class="form-label">Логин</label>
    <input type="text" class="form-control" id="user_name" name="user_name" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Пароль</label>
    <input type="password" class="form-control" id="password" name="password" required>
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}